.centralizar
{
 text-align: center;
 }
.justificar
{
  text-align: justify;
}
    
body
{
background-color: #f0ffff
}

.fonte
{
 font-family: Chalkduster;
 font-size: 15pt;
 font-weight: bold;

}

footer 
{
    position: fixed;
    bottom:0;
    left:0;
}

a{
	text-decoration: none;
	
}

a:link{
	text-decoration: none;
}


a:active{
	text-decoration: none;
}
